.standardBorder {
  border-style: solid;
  border-width: 5px;
  border-color: yellow;
  text-align: left;
  display: inline-block;
  padding: 12px;
  border-radius: 10px;
}

.darkBlueBorder {
  border-color: blue;
}
.lightBlueBorder {
  border-color: rgb(0, 195, 255);
}

.orangeBorder {
  border-color: orange;
}

.redBorder {
  border-color: red;
}
